

html { 
    
background-color: #fff;
color: #000;
    
   
}


.nav-wrapper .brand-logo{
   height: 60px;
    width: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 6px;
   
    
}

nav li a{
    color: #fff;
}
nav li a:hover{

}
.nav-wrapper{
background-color: #1A032E;
}

#page-title{
    
}

#page-title h2{
    text-align: center;
    text-transform: uppercase;
}
	#banner
	{
		position: relative;
		padding: 12em 0em;
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
        text-align: left;
	}

#banner .title h2{
    font-size: 4em;
    color: #fedb0a;
    font-weight: 900;
   text-transform: uppercase;
    
  
}

#banner .title .intro-title{
    font-size: 2em;
    color: #ffffff;
    font-size: 30pt;
    text-transform: uppercase;

}


#banner-lift{
    position: relative;
		padding: 12em 0em;
		background: url(../images/crane.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
}

	#banner-whloader
	{
		position: relative;
		padding: 12em 0em;
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/whloader.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
       
	}

	#banner-grader
	{
		position: relative;
		padding: 12em 0em;
		background: url(../images/grader.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
	}

#banner-offices{
    position: relative;
		padding: 12em 0em;
		background: url(../images/crane.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
    text-align:center;
    font-weight: 900;
}

#banner-about
	{
		position: relative;
		padding: 12em 0em;
		background: url(../images/bulldozers.jpg) no-repeat center;
		background-size: cover;
		color: #fff;
	}





#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	

	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: black;
	}	
#copyright ul{
    text-align: right;
}


#page
	{
		padding: 0.2em 0em;
		text-align: center;
        font-weight: 200;
	}
	
	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}
#page p{
    text-align: justify;
    font-weight: 200;
}

	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}

ul.specifications{
    text-size: 8pt;
    list-style-type: circle;
}


.dropdown-elements{
    display: none;
}





.office p{
    text-align: justify;
}
.office h2{
    font-size: 8pt;
}

.contact .col{
    margin-bottom: 24px;
}

.contact h3{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
}
.contact h6{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
    
}

.contact hr{
    width: 40px;
    margin-bottom: 45px;
}


.contact .contact-holder{
    padding-left: 100px;
    text-align: left
}

.contact .contact-holder h6{
    text-align: left;
    margin-bottom: 15px;
    font-weight: 600;
}

.contact .contact-holder p{
    margin-bottom: 30px;
}


.dropdown-content{
    background-color: #fedb0a;
}


.dropdown-content li:hover,.dropdown-content li.active,.dropdown-content li.selected{background-color:#fdd835;
}


.dropdown-content li.divider{min-height:0;height:1px}
.dropdown-content li>a,.dropdown-content li>span{color:#000; font-weight: 200;}

.side-nav{
    background-color: #1A032E;  
}

.side-nav li:hover{
    background-color: #22032e ;
}

.side-nav .dropdown-content{
    background-color:  #eee;
}

#footer-content{
   
    padding: 5em 0em;
    background-color: #fedb0a;
    height: 20%;
}

#footer-content p{
    text-align: center;
    font-size: 1em;
    color: #888080;
        
}